[submodule "app"]
	path = frontend/admin
	url = https://github.com/saysimple0828/decosk-app

[submodule "api"]
	path = backend/admin
	url = https://github.com/saysimple0828/decosk-api

[submodule "iac"]
	path = iac
	url = https://github.com/saysimple0828/decosk-iac
